/* Contact Section */
.contact {
    margin-left: 200px;
    padding: 0;
    width: auto;
    height: 100vh;
    padding: 20px;
    background-color: #202020d5;
  overflow: hidden;
}

.contact-container {
    padding: 50px;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.contact-text>h1 {
     margin: 0;
    color: #8d7908;
}

.contact-text>h2 {
    text-align: center;
     margin: 0;
    color: #8d7908;
    font-weight: 400;
    margin: 20px;
    
}
.info-fill {
    display: flex;
    width: 100%;
}

.contact-info {
    width: 40%;
    background-color: #141212;
    margin-right: 20px;
    border-radius: 10px;
    color: #fff;
    padding: 30px;
}

.contact-info>p {
   font-weight: 100;
   color: #a8a7a7;
   font-size: 18px;
}
.contact-info>h3{
   color: #a8a7a7;
   font-size: 25px;
}
.contact-icon ul{
    padding: 0;
}
.contact-icon ul li {
    list-style-type: none;
    color: #a8a7a7;
    font-size: 18px;
}
.contact-icon ul li i{
    color:#8d7908;
    padding: 5px 5px;
}
.contact-fill {
    width: 70%;
    background-color: #141212;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.fill {
    width: 50%;
    flex: left;
    color: #a8a7a7;
}

.filla {
    width: 50%;
    flex: right;
    margin-left: 15px;
}

.contact-fill1 {
    display: flex;
    width: 100%;
}

.fill-text .fill-text::after {
    font-size: 15px;
    font-weight: 400;
    margin: 9px;
    color: #d3d2d2;
}
.app-form-control {
    color: #a8a7a7;
    padding: 18px 10px;

  }
  .app-form-error {
    color: #a8a7a7;
    padding: 18px 10px;
    border: 1px solid #a80f0f;

  }
  
input {
    background-color: #141212;
    padding: 10px 0;
    height: 12px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #a8a7a7;
    position: relative;
    padding: 15px 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #a8a7a7;
    font-size: 15px;
}


input::placeholder,
textarea::placeholder {
    padding-left: 10px;
    font-size: 15px;
}

input:focus {
    border: 1px solid #8d7908;
    color: #8d7908;
    padding: 18px 10px;
    font-size: 15px;
}

textarea:focus{
    border: 1px solid #8d7908;
    color: #8d7908;
    padding: 15px 10px;
    font-size: 15px;
}


textarea {
    background-color: transparent;
    width: 100%;
    border-radius: 8px;
    position: relative;
    padding: 15px 0px;
    border: 1px solid #a8a7a7;
    outline: none;
}

.contact-button {
    padding-top: 10px;
}

div.error {
    padding: 10px;
    background: transparent;
    border: 1px solid #a80f0f;
    color: #a80f0f;
    border-radius: 4px;
    margin: 10px 10px;
    width: 50%;
    text-align: center;
  }
  

@media screen and (max-width: 1240px) {
    .contact-info>p {
        font-size: 15px;
     }
     .contact-icon ul li {
        font-size: 15px;
    }
    .contact-container {
        padding: 30px;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    .contact-info {
        width: 40%;
        background-color: #141212;
        margin-right: 20px;
        border-radius: 10px;
        color: #fff;
        padding: 30px;
    }
    .contact-fill {
        width: 70%;
        background-color: #141212;
        border-radius: 10px;
        color: #fff;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 30px;
    }
  }
  
  @media screen and (max-width: 990px) {
    .contact-info>p {
        font-size: 14px;
     }
     .contact-icon ul li {
        font-size: 14px;
    }
    .contact-container {
        padding-top: 40px;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    .contact-info {
        width: 50%;
        padding: 20px;
    }
    .contact-fill {
        width: 90%;
        padding: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    .contact {
        margin-left: 0px;
    }
  }

  @media screen and (max-width: 640px) {
    .info-fill{
        display: grid;
        grid-template-columns: 1fr ;
    }

    .contact-info>p {
        font-size: 14px;
     }
     .contact-icon ul li {
        font-size: 14px;
    }
    .contact-container {
        
        padding: 0px;
        padding-top: 40px;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
    .contact-info {
        width: 100%;
        padding: 20px;
    }
    .contact-fill {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
    }
    .contact{
        height: auto;
    }
  }